.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
}

.logo--header {
  color: var(--logo-color-dark);
  line-height: 1.17385;
}

.logo--footer {
  color: var(--background-color-primary);
  line-height: 1.38;
  display: flex;
  margin-bottom: 20px;
}

.logo > span,
.logo > span {
  color: var(--hover-effect);
}

.grid-primary {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71429;
  list-style-type: none;
  display: flex;
  column-gap: 30px;
}

.grid-primary h5 {
  font-size: 14px;
  line-height: 1.17214;
  margin-bottom: 10px;
}

.section__header {
  font-size: 36px;
  line-height: 1.171944;
  text-align: center;
  margin-bottom: 50px;
}

.grid-secondary {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  list-style-type: none;
}

.grid-team {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  list-style-type: none;
}

.navigation {
  list-style-type: none;
  font-size: 14px;
  line-height: 1.17214;
  font-weight: 500;
  padding-left: 0;
  column-gap: 46px;
  display: flex;
  align-items: center;
}

.navigation__link {
  text-decoration: none;
  color: var(--text-color-primary);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--hover-effect);
}

.navigation--border {
  position: relative;
}

.navigation--border::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 100%;
  border-bottom: 4px solid var(--hover-effect);
}

.section {
  padding: 94px 0;
}

.section-secondary {
  color: var(--background-color-primary);
  background-color: var(--background-color-secondary);
}

.section-secondary h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.363636;
  margin: 0 0 30px;
  text-align: center;
}

.section-team {
  background-color: var(--background-color-third);
  color: var(--text-color-primary);
  line-height: 1.171875;
}

.section-team h4 {
  font-weight: 500;
}

.section-team p {
  color: var(--text-color-secondary);
}

.button-order {
  color: var(--background-color-primary);
  background-color: var(--hover-effect);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  cursor: pointer;
  padding: 10px 41px 10px 42px;
  border-radius: 4px;
}

.footer {
  font-size: 14px;
  color: var(--background-color-primary);
  background-color: var(--background-color-secondary);
  line-height: 1.7;
  padding: 60px 0;
}

.contact-link {
  display: flex;
  font-size: 14px;
  line-height: 1.17214;
  color: var(--text-color-secondary);
  text-decoration: none;
}

footer .contact-link {
  display: inline;
  font-size: 14px;
  line-height: 1.17214;
  color: var(--contact-color-footer);
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-effect);
}

.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
  fill: var(--hover-effect);
}

.filter {
  list-style-type: none;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.filter__product {
  background-color: var(--background-color-third);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color-primary);
  border: none;
  line-height: 1.626;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
}

.filter__product:hover,
.filter__product:focus {
  background-color: var(--hover-effect);
  color: var(--background-color-primary);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
}

.grid-product {
  color: var(--text-color-primary);
  line-height: 1.171875;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.grid-product h4 {
  font-size: 18px;
  line-height: 2;
}

.grid-product figcaption p {
  color: var(--text-color-secondary);
  line-height: 1.875;
}

:root {
  --logo-color-dark: #000000;
  --hover-effect: #2196f3;
  --contact-color-footer: #ffffff99;
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --background-color-primary: #ffffff;
  --background-color-secondary: #2f303a;
  --background-color-third: #f5f4fa;
  --header-border-color: #cecece;
  --picture-border-color: #eeeeee;
  --social-icon-color: #afb1b8;
  --footer-icon: #ffffff1a;
  --label-background: #2f303acc;
  --card-background: #2196f3e6;
  --backdrop-color: #00000033;
  --modal-close-border: #0000001a;
  --input-border: #ffffff4d;
  --sign-in-shadow: #00000026;
  --form-input-border: #33333333;
  --comment-placeholder: #75757580;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container .logo--header {
  margin-right: 93px;
  padding: 25px 0 24px;
}

.contact-container {
  display: flex;
  column-gap: 30px;
  margin-left: 345px;
  margin-right: 0;
}

.section-secondary .container {
  padding: 200px 0;
}

.container--display {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul.grid-primary {
  margin-bottom: 94px;
}

figure {
  margin: 0;
  padding: 0;
  background-color: var(--background-color-primary);
}

.grid-team figure {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.grid-team__figcaption {
  text-align: center;
  padding: 30px 0;
}

.grid-team__figcaption h4 {
  margin-bottom: 10px;
}

.grid-product__figcaption {
  padding: 20px 24px;
}

.grid-product__figcaption h4 {
  margin-bottom: 4px;
}

figcaption.grid-product__figcaption {
  border-right: 1px solid var(--picture-border-color);
  border-bottom: 1px solid var(--picture-border-color);
  border-left: 1px solid var(--picture-border-color);
}

.grid-product img {
  display: block;
}

.container.container--filters {
  margin-bottom: 50px;
}

.grid-primary__icon {
  display: flex;
  background-color: var(--background-color-third);
  margin-bottom: 30px;
  padding: 25px 100px;
}

.grid-primary li {
  max-width: 270px;
}

.grid-team__icon-container {
  display: flex;
  column-gap: 10px;
  margin-top: 16px;
  justify-content: center;
}

.grid-team__icon {
  display: flex;
  fill: var(--social-icon-color);
  padding: 12px;
}

.social-link {
  border-radius: 50%;
}

.grid-team__icon:hover,
.social-link:focus .grid-team__icon {
  fill: var(--background-color-primary);
}
.social-link:hover,
.social-link:focus {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--hover-effect);
}

.grid-client {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.grid-client__icon {
  fill: var(--social-icon-color);
}
.grid-client__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
}

.grid-client__link:hover,
.grid-client__link:focus {
  border-color: var(--hover-effect);
  cursor: pointer;
}
.grid-client__link:hover .grid-client__icon,
.grid-client__link:focus .grid-client__icon {
  fill: var(--hover-effect);
  border-color: var(--hover-effect);
  cursor: pointer;
}
.contact-icon {
  fill: #757575;
  margin-right: 10px;
  align-self: center;
}

.footer .container {
  display: flex;
}

.footer-icon {
  display: flex;
  fill: var(--background-color-primary);
  padding: 12px;
}
.social-link--footer {
  background-color: var(--footer-icon);
}

.footer__socials {
  margin-left: 70px;
  padding-top: 12px;
}
.footer__icon-container {
  display: flex;
  column-gap: 10px;
  margin-top: 20px;
}

.grid-product--shadow:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 12%),
    0px 4px 4px 0px rgba(0, 0, 0, 6%), 1px 4px 6px 0px rgba(0, 0, 0, 0.12);
}
.footer__socials h5 {
  font-size: 14px;
  line-height: 1.17214;
  margin-bottom: 20px;
}
.section-secondary--background {
  background-image: linear-gradient(to right, #2f303a66 50%, #2f303a66 100%),
    url(../images/people-working.jpg);

  background-size: contain;
  max-width: 1600px;
  margin: auto;
}

.transition--primary {
  transition-property: color, background-color, box-shadow, fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.grid-secondary__container {
  position: relative;
  height: 294px;
  z-index: 0;
}

.grid-secondary__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  padding-top: 27px;
  color: var(--background-color-primary);
  background-color: var(--label-background);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17214;
  letter-spacing: 0.03em;
}

.grid-product__image {
  width: 370px;
  display: block;
  position: relative;
  overflow: hidden;
}

.grid-product__card:hover .grid-product__description {
  transform: translateY(0);
}

.grid-product__description {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 49px 45px 49px 24px;
  background-color: var(--card-background);
  font-size: 18px;
  color: var(--background-color-primary);
  line-height: 1.5556;
  transform: translateY(100%);
  transition-duration: 250ms;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--backdrop-color);
  z-index: 1;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: var(--background-color-primary);
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  z-index: 1;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  border: 1px;
  background-color: var(--background-color-primary);
  border-style: solid;
  border-color: var(--modal-close-border);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.newsletter-email {
  display: flex;
  margin-left: 78px;
  padding: 12px 0 0;
}

.newsletter-label {
  display: flex;
  flex-direction: column;
}

.newsletter-label {
  font-size: 14px;
  line-height: 1.17214;
  margin-bottom: 20px;
  font-weight: 700;
}

.news-input {
  display: flex;
  flex-direction: column;
}

.sign-in-button {
  display: flex;
  color: var(--background-color-primary);
  background-color: var(--hover-effect);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  cursor: pointer;
  padding: 10px 28px 10px 42px;
  border-radius: 4px;
  margin-left: 12px;
  margin-top: 36px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px var(--sign-in-shadow);
  height: 50px;
}

.input-email {
  width: 358px;
  height: 50px;
  border: 1px solid var(--input-border);
  filter: box-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  padding-left: 16px;
  color: var(--background-color-primary);
  background-color: inherit;
  line-height: 1.25;
}

.input-email::placeholder {
  color: var(--contact-color-footer);
}

.send-icon {
  display: flex;
  fill: var(--background-color-primary);
  margin-left: 24px;
  margin-top: 3px;
}

.form-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-primary);
  margin-top: 40px;
}
.form-label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 40px;
  color: var(--text-color-secondary);
  font-size: 12px;
}

.input-container {
  display: flex;
  align-items: center;

  padding: 11px 12px;
  border: 1px solid var(--form-input-border);
  border-radius: 4px;
  margin: 4px 40px 0 40px;
  width: 448px;
  height: 40px;
}

.input-property {
  flex: auto;
  border: none;
}
.input-property:focus {
  outline: none;
}

.textarea-order {
  resize: none;
  display: flex;
  align-items: center;
  padding: 11px 12px;
  border: 1px solid var(--form-input-border);
  border-radius: 4px;
  margin: 4px 40px 0 40px;
  width: 448px;
  height: 120px;
  outline: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.textarea-order::placeholder {
  color: var(--comment-placeholder);
}

.policy-check {
  display: flex;
  margin-top: 20px;
  margin-left: 54px;
  column-gap: 7px;
  align-items: center;
}

.policy-text {
  color: var(--text-color-secondary);
  font-size: 14px;
  line-height: 1.714;
}

.policy-text a {
  text-decoration: none;
  color: var(--hover-effect);
  cursor: pointer;
}

.checkbox-icon {
  display: none;
}

.icon-svg {
  width: 16px;
  height: 15px;
  background-image: url("./images/chceckbox-unchecked.svg");
  background-size: contain;
}

.send-button {
  display: flex;
  color: var(--background-color-primary);
  background-color: var(--hover-effect);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  cursor: pointer;
  padding: 10px 76px;
  border-radius: 4px;
  margin-top: 30px;
  margin-left: 164px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px var(--sign-in-shadow);
  height: 50px;
  border: none;
}
